<!doctype html>
<html>

<head>
	<title>Besiktningsman.se | Privat</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="keywords" content="besiktningsman.se, besiktningar, syner, bygg, entreprenad, ncc, skanska, jm, entreprenör, byggentreprenör, noteringar, dokument, ritningar, projekt,
						fallstudie, lösningar, översikt, samlingsplats, ispect, ispect-portal, återrapportering, rapportering, felnotering, bygglösningar,
						lean production, lean startup, startup, construction, industri, besiktning, besiktiga, besikta, entreprenadbesiktning, besiktningsman,
						ritningsapp, kontroll, arbetsledare, platschef, entreprenadingenjör, bygg app, lean bygg, projekthantering, kommunikation,">
	<!-- favicons -->
	<link rel="shortcut icon" href="../favicon.ico">
	<!-- Making the website social media friendly-->
	<meta name="description" content="Vi erbjuder certifierade &amp; oberoende besiktningsmän för  både fastighet &amp; utemiljö. Du hittar oss bland annat i Stockholm, Malmö &amp; Göteborg. Kontakta oss" />
	<meta name="robots" content="noodp" />
	<link rel="canonical" href="http://www.besiktningsman.se/" />
	<meta property="og:locale" content="sv_SE" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Vi är ett fristående besiktningsföretag som utför besiktningar objektivt och opartiskt enligt gällande bygg- och branschregler." />
	<meta property="og:description" content="Vi erbjuder certifierade &amp; oberoende besiktningsmän för  både fastighet &amp; utemiljö. Du hittar oss bland annat i Stockholm, Malmö &amp; Göteborg. Kontakta oss" />
	<meta property="og:url" content="http://www.besiktningsman.se/" />
	<meta property="og:site_name" content="Besiktningsman.se | Sveriges ledande besiktningsföretag">
	<meta property="og:image" content="http://imgur.com/a/6rCJ6">
	<meta name="twitter:card" content="Digital besiktning för lönsammare byggprojekt" />
	<meta name="twitter:description" content="Vi erbjuder certifierade &amp; oberoende besiktningsmän för  både fastighet &amp; utemiljö. Du hittar oss bland annat i Stockholm, Malmö &amp; Göteborg. Kontakta oss" />
	<meta name="twitter:title" content="Certifierad &amp; oberoende besiktningsman för fastighet &amp; utemiljö" />
	<!-- Fonts and Material Icons -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Material+Icons" rel="stylesheet" type="text/css" />
	<!-- Styles -->
	<link href="../../css/slides.css" rel="stylesheet" type="text/css">
	<!-- Intercom chat and user identification -->
	<script>
	  window.intercomSettings = {
	    app_id: "ybt1le09"
	  };
	</script>
	<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/ybt1le09';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
	<script>
	  window.intercomSettings = {
	    app_id: "ybt1le09",
	    name: <%= current_user.name %>, // Full name
	    email: <%= current_user.email %>, // Email address
	    created_at: <%= current_user.created_at.to_i %>, // Signup date as a Unix timestamp
			hide_default_launcher: true
	  };
	  </script>
	<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/ybt1le09';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
	<!-- Intercom chat and user identification -->

</head>
<body>
	<header class="cd-morph-dropdown">
		<a href="#0" class="nav-trigger">Open Nav<span aria-hidden="true"></span></a>

		<nav class="main-nav">
			<ul>
				<li class="has-dropdown gallery" data-content="about">
					<a href="#0">About</a>
				</li>

				<li class="has-dropdown links" data-content="pricing">
					<a href="#0">Pricing</a>
				</li>

				<li class="has-dropdown button" data-content="contact">
					<a href="#0">Contact</a>
				</li>
			</ul>
		</nav>

		<div class="morph-dropdown-wrapper">
			<div class="dropdown-list">
				<ul>
					<li id="about" class="dropdown gallery">
						<a href="#0" class="label">About</a>

						<div class="content">
							<ul>
								<li>
									<a href="#0">
										<em>Title here</em>
										<span>A brief description here</span>
									</a>
								</li>

								<li>
									<a href="#0">
										<em>Title here</em>
										<span>A brief description here</span>
									</a>
								</li>

								<li>
									<a href="#0">
										<em>Title here</em>
										<span>A brief description here</span>
									</a>
								</li>

								<li>
									<a href="#0">
										<em>Title here</em>
										<span>A brief description here</span>
									</a>
								</li>
							</ul>
						</div>
					</li>

					<li id="pricing" class="dropdown links">
						<a href="#0" class="label">Pricing</a>

						<div class="content">
							<ul>
								<li>
									<h2>Services</h2>

									<ul class="links-list">
										<li><a href="#0">Logo Design</a></li>
										<li><a href="#0">Branding</a></li>
										<li><a href="#0">Web Design</a></li>
										<li><a href="#0">iOS</a></li>
										<li><a href="#0">Android</a></li>
										<li><a href="#0">HTML/CSS/JS</a></li>
										<li><a href="#0">Packaging</a></li>
										<li><a href="#0">Mobile</a></li>
										<li><a href="#0">UI/UX</a></li>
										<li><a href="#0">Prototyping</a></li>
									</ul>
								</li>

								<li>
									<h2>Projects</h2>

									<ul class="links-list">
										<li><a href="#0">Logo Design</a></li>
										<li><a href="#0">Branding</a></li>
										<li><a href="#0">Web Design</a></li>
										<li><a href="#0">iOS</a></li>
										<li><a href="#0">Android</a></li>
										<li><a href="#0">HTML/CSS/JS</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</li>

					<li id="contact" class="dropdown button">
						<a href="#0" class="label">Contact</a>

						<div class="content">
							<ul class="links-list">
								<li><a href="#0">Link #1</a></li>
								<li><a href="#0">Link #2</a></li>
								<li><a href="#0">Link #3</a></li>
								<li><a href="#0">Link #4</a></li>
								<li><a href="#0">Link #5</a></li>
								<li><a href="#0">Link #6</a></li>
							</ul>

							<a href="#0" class="btn">Get in Touch</a>
						</div>
					</li>
				</ul>

				<div class="bg-layer" aria-hidden="true"></div>
			</div> <!-- dropdown-list -->
		</div> <!-- morph-dropdown-wrapper -->
	</header>

	<main class="cd-main-content">

	</main>
	<!-- Scripts -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="../../js/plugins.js" type="text/javascript" name="plugins"></script>
	<script src="../../js/slides.js" type="text/javascript" name="main-scripts"></script>
	<script src="../../js/custom.js" type="text/javascript" name="main-scripts"></script>
</body>
</html>
